* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.header {
  background: linear-gradient(rgba(50, 64, 114, 0.7), rgba(240, 90, 93, 0.8) 95%), url("../../images/coding-image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  position: relative;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: rgba(200, 200, 200, 0.25) solid 1rem;
  display: inline-flex;
  margin: 13rem auto 0;
}
.header__logo h1 {
  font-size: 10rem;
  padding: 0.25rem 0.25rem;
  color: white;
  font-weight: 900;
  letter-spacing: -0.33rem;
}
.header span {
  display: block;
  margin-top: 1rem;
  color: white;
  font-size: 1.75rem;
}
.header .down-arrow {
  width: 2rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
}
.header .down-arrow img {
  width: 100%;
}

.about {
  background-color: #F05A5D;
  padding: 0.1rem;
}
.about__wrapper {
  width: 70rem;
  max-width: 95%;
  margin: 7.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.about__image {
  background: linear-gradient(rgba(240, 93, 90, 0.5), rgba(240, 93, 90, 0.5)), url("../../images/profile-image.jpg");
  background-size: cover;
  background-position: center;
  width: 45%;
  height: 30rem;
  position: relative;
}
.about__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: -3rem;
}
.about__title h2 {
  font-size: 5rem;
  line-height: 4.75rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #112437;
}
.about__title h2:first-child {
  font-weight: 400;
  font-size: 4.75rem;
}
.about__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.about__info h3 {
  font-size: 1.85rem;
  font-weight: 700;
  margin-bottom: 0.55rem;
  letter-spacing: 0.1rem;
  color: #112437;
}
.about__info h4 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #112437;
}
.about__info .line {
  height: 0.15rem;
  width: 5rem;
  background-color: black;
  margin: 1.5rem 0;
}
.about__info p {
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  line-height: 1.75rem;
}
.about__info p:last-child {
  margin-top: 1rem;
}

.skills {
  background-color: #112437;
  padding: 0.1rem;
}
.skills__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60rem;
  max-width: 95%;
  margin: 5.5rem auto 0;
}
.skills__title h2 {
  color: #F05A5D;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.skills__title .line {
  height: 0.2rem;
  background-color: #F05A5D;
  width: 5rem;
  margin-top: 0.25rem;
}
.skills__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 60rem;
  margin: 5rem auto 5.5rem;
  list-style: none;
  padding: 0;
}
.skills__listItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.skills__listItem h4 {
  color: white;
  font-size: 1.5rem;
  margin: 0.75rem 0 0.5rem;
  letter-spacing: 0.1rem;
  opacity: 0.9;
}
.skills__listItem p {
  color: white;
  font-size: 1rem;
  text-align: center;
  opacity: 0.75;
}
.skills__listItem img {
  width: 5rem;
}

.portfolio {
  background-color: #A6ADB4;
  padding: 0.1rem;
}
.portfolio__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60rem;
  max-width: 95%;
  margin: 5.5rem auto 0;
}
.portfolio__title h2 {
  color: #112437;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.portfolio__title .line {
  height: 0.2rem;
  background-color: #112437;
  width: 5rem;
  margin-top: 0.25rem;
}
.portfolio__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5rem auto 5.5rem;
  width: 70rem;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.portfolio__listItem {
  width: 31%;
  margin-bottom: 2rem;
  background-color: #112437;
  border-radius: 0.2rem;
  overflow: hidden;
}
.portfolio__listItem .image {
  background: linear-gradient(rgba(17, 36, 55, 0.75), rgba(17, 36, 55, 0.75)), url("../../images/natours-website.png");
  height: 10rem;
  background-position: center;
  background-size: cover;
}
.portfolio__listItem .info {
  height: 13rem;
}
.portfolio__listItem .info h3 {
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
}
.portfolio__listItem .info .line {
  background-color: #F05A5D;
  height: 0.15rem;
  width: 5rem;
  margin: 0.5rem 0 0.75rem;
}
.portfolio__listItem .info p {
  color: white;
  opacity: 0.95;
  font-size: 1.1rem;
  line-height: 1.33rem;
}
.portfolio__listItem .info__wrapper {
  width: 90%;
  height: 100%;
  margin: 1rem auto;
  position: relative;
}
.portfolio__listItem .info .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
}
.portfolio__listItem .info .buttons a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  background-color: #F05A5D;
  border-radius: 0.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: 0.15rem solid #F05A5D;
  opacity: 0.9;
}
.portfolio__listItem .info .buttons a:first-child {
  margin-right: 0.75rem;
}

/*# sourceMappingURL=index.css.map */
