.contact {
    @include displayFlex(column, flex-start, center);
    background-color: $secondary-blue;
    padding: .1rem;

    &__email {
        text-decoration: none;
        color: $main-white;
        border: .1rem solid $main-white;
        border-radius: .2rem;
        font-size: 1rem;
        padding: .75rem 1.25rem;
        letter-spacing: .1rem;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 2rem;
        transition: all .25s;
        @include displayFlex(row, center, center);

        img {
            height: 1.5rem;
            margin-right: .75rem;
            margin-top: .05rem;
        }

        &:hover {
            background-color: $main-white;
            color: $secondary-blue;
        }
    }

    &__list {
        @include displayFlex(row, center, center);
        margin: 2rem auto;
        padding: 0;
        list-style: none;
    }

    &__listItem {
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: $main-white;
            font-size: 1.1rem;
            letter-spacing: .1rem;
            @include displayFlex(row, center, center);
        }

        img {
            height: 1.25rem;
            margin-right: .5rem;
        }
    }
}

//media queries 
@media(max-width: 625px) {
    .contact {
        &__list {
            flex-direction: column;
        }

        &__listItem {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}