.footer {
    background-color: $secondary-blue;
    @include displayFlex(column, center, center);

    span {
        color: $main-white;
        display: inline-block;
        font-size: 1rem;
        letter-spacing: .1rem;
        margin: 1rem auto;
    }
}