.portfolio {
    background-color: #A6ADB4;
    padding: .1rem;

    &__title {
        @include displayFlex(column, flex-start, center);
        width: 60rem;
        max-width: 95%;
        margin: 5.5rem auto 0;

        h2 {
            color: $secondary-blue;
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
    
        .line {
            height: .2rem;
            background-color: $secondary-blue;
            width: 5rem;
            margin-top: .25rem;
        }
    }

    &__list {
        @include displayFlex(row, space-between, flex-start);
        margin: 5rem auto 5.5rem;
        width: 70rem;
        max-width: 90%;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

    &__listItem {
        width: 48.5%;
        height: 20rem;
        margin-bottom: 2rem;
        position: relative; 
        box-shadow: 0px 0px 10px 0px #444;
        overflow: hidden;

        .info {
            position: absolute;
            bottom: 3.5rem;
            left: 3.5rem;
            z-index: 500;

            h3 {
                color: $main-white;
                font-size: 2rem;
                letter-spacing: .1rem;
                opacity: .85;
                font-weight: 500;
            }

            .buttons {
                @include displayFlex(row, flex-start, center);
                margin-top: .75rem;

                a {
                    color: $secondary-blue;
                    opacity: .95;
                    text-decoration: none;
                    font-size: 1.1rem;
                    background-color: $main-red;
                    padding: .35rem 1rem;
                    font-weight: 600;
                    letter-spacing: .05rem;
                    border: .2rem solid $main-red;
                    transition: all .3s;

                    &:first-child {
                        margin-right: 1rem;
                    }

                    &:hover {
                        background-color: transparent;
                        color: $main-white;
                        opacity: .8;
                    }
                }
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(17, 36, 55, .85);
            transition: all .35s;
            opacity: 0;
        }
    }

    .one {
        background: linear-gradient(rgba(17, 36, 55, .7), rgba(17, 36, 55, .7)),
                    url('../../images/weather-app.png');
        background-size: cover;
        background-position: center;
    }

    .two {
        background: linear-gradient(rgba(17, 36, 55, .7), rgba(17, 36, 55, .7)),
                    url('../../images/natours-website.png');
        background-size: cover;
        background-position: center;
    }

    .three {
        background: linear-gradient(rgba(17, 36, 55, .7), rgba(17, 36, 55, .7)),
                    url('../../images/scenic-website.png');
        background-size: cover;
        background-position: center;
    }

    .four {
        background: linear-gradient(rgba(17, 36, 55, .7), rgba(17, 36, 55, .7)),
                    url('../../images/last-of-us-website.png');
        background-size: cover;
        background-position: center;
    }

    .five {
        background: linear-gradient(rgba(17, 36, 55, .7), rgba(17, 36, 55, .7)),
                    url('../../images/quiz-game.png');
        background-size: cover;
        background-position: center;
    }

    .six {
        background: linear-gradient(rgba(17, 36, 55, .7), rgba(17, 36, 55, .7)),
                    url('../../images/black-angus-website.png');
        background-size: cover;
        background-position: center;
    }
}

//media queries 
@media(max-width: 975px) {
    .portfolio {
        &__listItem {
            width: 100%;
            height: 25rem;

            .info h3 {
                font-size: 2.5rem;
            }
        }
    }
}

@media(max-width: 700px) {
    .portfolio__listItem {
        height: 20rem;

        .info h3 {
            font-size: 2rem;
        }
    }
}